h1{
  color: red;
  font-size: 50px;
  text-shadow: 3px 3px 8px purple;
  font-weight: bold;
}

h1:hover{
  transition: all 0.5s ease-in-out;
  transform: scale(1.5);
}

img{
  height: 400px;
  width: 400px;
}
